.header__logo {
  background-image: url(../../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 142px;
  height: 33px;
  display: block;
  transition: opacity .3s linear;
}

.header__logo:hover {
  opacity: .8;
}

@media screen and (max-width: 916px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}
