.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 520px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 880px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: 230px;
  }
}
