.profile__img-wrapper {
    position: relative;
}
.profile__img-wrapper:before {
    display: none;
    cursor: pointer;
    content: "";
    height: 123px;
    width: 123px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    background-image: url('../../../images/edit-icon.svg');
    padding: 15px;
    box-sizing: border-box;
    background-position: center;
    background-size: 26px;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    top: 39px;     
}

.profile__img-wrapper:hover:before {
    display: flex;
}