.profile__info {
  margin-left: 30px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content auto;
  grid-row-gap:8px;
  grid-column-gap: 18px;
}

@media screen and (max-width: 910px) {
  .profile__info {
    margin: 27px 0 0 27px;
    grid-column-gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .profile__info {
    margin: 24px auto 0 auto;
  }
}
