.profile__info {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  margin: 61px 0 0 27px;
}

@media screen and (max-width: 880px) {
  .profile__info {
    margin: 27px 0 0 27px;
  }
}

@media screen and (max-width: 480px) {
  .profile__info {
    margin: 24px auto 0 auto;
  }
}
