.popup__title {
  margin: 34px 36px 46px 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 630px) {
  .popup__title {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin: 24px 21px 72px 21px;
  }
}

