.header__auth {
  display: flex;
}

@media screen and (max-width: 630px) {
  .header__auth {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (max-width: 440px) {
  .header__auth {
    gap: 15px;
  }
}
