.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 910px) {
  .footer__copyright {
    margin-left: 27px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    margin-left: 19px;
  }
}
