@import url(./__img-wrapper/profile__img-wrapper.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__user-container/profile__user-container.css);
@import url(./__avatar-container/profile__avatar-container.css);
@import url(./__name/profile__name.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__description/profile__description.css);
@import url(./__add-button/profile__add-button.css);

.profile {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

@media screen and (max-width: 910px)  {
  .profile {
    flex-direction: column;
    margin-top: 42px;
  }
}
