.card__like-button {
  width: 22px;
  height: 22px;
  background-image: url("../../../images/like.svg");
  background-color: unset;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  margin-top: 4px;
  grid-column: 2;
  grid-row: 1;
}
