.cards {
  margin: 51px auto 0 auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-row-gap:20px;
  grid-column-gap: 17px;
}

@media screen and (max-width: 910px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 62px auto;
    max-width: 580px;
  }
}

@media screen and (max-width: 630px) {
  .cards {
    grid-template-columns: 1fr;
    max-width: 282px;
  }
}
