.profile__main-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 10px;
}

@media screen and (max-width: 880px) {
  .profile__main-info {
  justify-content: center;
  margin-bottom: 10px;
}
}
