@import url(./__copyright/footer__copyright.css);

.footer {
  margin: 67px 0 53px 0;
  max-width: 880px;
  min-width: 300px;
}

@media screen and (max-width: 910px) {
  .footer {
    margin: 51px 0 30px 0;
  }
}
