.profile__avatar {
  height: 123px;
  width: 123px;
  border-radius: 50%;
  margin: 39px 0 0 0;
  object-fit: cover;

}

@media screen and (max-width: 910px) {
  .profile__avatar {
    margin: 40px 0 0 0;
  }
}

