.form__submit {
  border: none;
  background-color: black;
  color: white;
  border-radius: 2px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
}

.form__submit:hover:not([disabled]) {
  opacity: .8;
}

@media screen and (max-width: 500px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
