.popup__container {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 430px;
  grid-column: 2;
  grid-row: 2;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 630px) {
  .popup__container {
    width: 282px;
  }
}
