@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/main/main.css);
@import url(./blocks/button/button.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/cards-section/cards-section.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__info/header__info.css);
@import url(./blocks/space/space.css);
@import url(./blocks/center/center.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_place/form__input_place_auth.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__additional-text/form__additional-text.css);
@import url(./blocks/form/_place/form_place_auth.css);
@import url(./blocks/form/__link/form__link.css);
@import url(./blocks/form/__submit/form__submit.css);
@import url(./blocks/form/__submit/_disabled/form__submit_disabled.css);
@import url(./blocks/form/__submit/_place/form__submit_place_auth.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__fields/form__fields.css);
@import url(./blocks/info-tooltip/info-tooltip.css);
@import url(./blocks/info-tooltip/__icon/info-tooltip__icon.css);
@import url(./blocks/info-tooltip/__icon/_type/info-tooltip__icon_type_error.css);
@import url(./blocks/info-tooltip/__icon/_type/info-tooltip__icon_type_success.css);
@import url(./blocks/info-tooltip/__text/info-tooltip__text.css);